# Ignore the actual secret files
k8s-spec/infra/shared-secrets.yaml
k8s-spec/infra/postgres-secrets.yaml
k8s-spec/infra/mongo-secrets.yaml

# Allow the templates to be tracked
!k8s-spec/infra/*.yaml.example